<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.name}}</td>
            <td>{{city.country.name}}</td>
            <td>
                <input type="button" value="Delete" class="btn btn-danger" (click)="delete(city.id)"  />
                <input type="button" value="Edit" class="btn btn-secondary" (click)="edit(city.id,city.country.name)"  />
            </td>
        </tr>
    </tbody>
</table>
<input type="button" value="New City" class="btn btn-primary" (click)="new()" />